<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BonjourChatKit Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BonjourChatKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9698ABA51F2D2A65002A5929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9698ABAE1F2D2A65002A5929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9698ABC41F2D2ADF002A5929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9698ABCC1F2D2ADF002A5929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
